
/* Basic styles to demonstrate layout */
body, html {
        margin: 0 auto;
        padding: 0;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        background-color: #0D0D0D;
        color: #f5f5f7;
        scroll-behavior: smooth; /* Add smooth scrolling */
        height: 100vh; /* Full view height */
        max-width: 108.125rem; /* Restrict to opaque image width */
      }
      
      /* Container for superimposed images */
      .image-container {
        position: relative;
        width: 100%; /* Full width */
        max-width: 108.125rem; /* Restrict to opaque image width */
        height:30rem; /* Height of the opaque image */
        margin: 0 auto; /* Center the container */
      }
      
      /* Opaque main image */
      .opaque-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('images/wavy.png') no-repeat center;
        background-size: cover;
        z-index: 1; /* Main layer */
      }
      
      /* PNG image on top */
      .png-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 120%; /* Match the size of the opaque image */
        height: 100%;
        background: url('images/scrolling-image.png') ;
        background-size:120%; /* Ensure it scales proportionally */
        z-index: 2; /* Top layer */
      }
      .landing-section {
        display: flex;
        flex-direction: column; /* Stack the h1 and p vertically */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        padding: 12% 15% 7% 15%; /* Padding: top 10%, left 10%, right 10%, bottom 0 */
        width: 60rem; /* Max width for the content container */
        margin: 0 auto; /* Center the container itself */
        text-align:center; /* Ensure text inside the container is aligned to the left */
      }
      
      
      
      h1 {
        color: #E4E4E4;
        font-size: 2.5rem; /* Large font size for the heading */
        margin-bottom: 1.5rem; /* Space between the h1 and p */
      }
      h2 {
        color: #E4E4E4;
        padding: 3.75rem;
        font-size: 2rem; /* Large font size for the heading */
        margin-bottom: 1.5rem; /* Space between the h1 and p */
      }
      h3 {
        color: #E4E4E4;
        font-size: 1.75rem; /* Large font size for the heading */
        margin-bottom: 0.75rem; /* Space between the h1 and p */
        font-weight: 400;
      } 
      
      p {
        color: #E4E4E4;
        font-size: 1.063rem; /* Smaller font size for the paragraph */
        margin-bottom: 2rem; /* Add margin below the paragraph */
      }
      a {
        text-decoration: none;
      }
      /* Navigation bar styling */
      nav {
        position: fixed;
        top: 4rem; /* ~64px equivalent in rem */
        left: 8%;
        right: 8%;
        background-color: rgba(255, 255, 255, 0.1); /* Translucent background */
        backdrop-filter: blur(35px); /* Blur effect */
        padding: 0;
        display: flex;
        border-radius: 1.25rem;
        justify-content: space-around;
        align-items: center;
        z-index: 999; /* Make sure nav stays on top */
        transition: top 0.4s ease; /* Smooth reappearance */
      }
      
      nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5625rem;  /* 25px */
      }
      
      nav ul li {
        display: inline;
      }
      
      
      nav ul li a {
        text-decoration: none;
        color: #2121c9;
      }
      
      /* About Me Section */
      
      .ccwork {
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 2.5rem 1.25rem;
      }
      .about-me {
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
        box-sizing: border-box;
        align-items: center; /* Center vertically */
      
        /*min-height: 100vh; /* Ensure section has some height */
      }
      
      
      /* Columns in the about section */
      .about-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
        width: 100% ;
        overflow-x: hidden;
        box-sizing: border-box;
        margin-left: 9.375rem; /* Adding left margin of 150px (in rem) */
        margin-right: 9.375rem; 
      
      }
      
      
      /* Column styles */
      .about-column {
        flex: 1;
        gap: 10rem;

        padding-bottom: 1rem;
        min-width: 0; /* Prevent columns from growing larger than intended */
        box-sizing: border-box;
        overflow-x: hidden;
      }
      
      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
      
      ul {
        list-style: none;
        margin-bottom: 2rem;
      }
      
      ul li {
        margin-bottom: 0.5rem;
      }
      
      /* Responsive adjustments for mobile */
      @media (max-width: 768px) {
        .about-columns {
            flex-direction: column; /* Stack the columns on small screens */
        }
      
        .about-column {
            margin-bottom: 2rem; /* Add spacing between stacked columns */
        }
      }
      
      /* Work section with projects */
      .work {
        
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 2.5rem 1.25rem;
      }
      .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }
      
      .project {
        background-color: #0e7aed;
        padding: 20px;
        border-radius: 5px;
      }
      
      /* Footer */
      footer {
        text-align: center;
        padding: 20px;
        background-color: #1c1c1c;
      }
      /* Hide/show nav on scroll */
      .hidden {
        top: -100px; /* Hide nav off screen */
      }
      
      /* Logo styling with margin on left and right */
      .logo {
        display: inline-flex;
        padding:9px 25px; /* Converted from 1.125px 3.125px */
        justify-content: center;
        height: 100%; 
        align-items: center;
      
        font-size: 1.063rem;
        font-weight: bold;
        margin-left: 3.125rem; /* 50px in rem units */
        margin-right: 9.375rem; /* 150px in rem units */
      }
      
      .logo:hover {
        color: #E4E4E4;
        height: 100%; 
        display: flex; /* For flexible button layout */
        height: auto; /* Height is 18px */
        width: auto; /* This ensures the button has auto width */
        border-radius: 1.063rem;
        justify-content: center;
        align-items: center;
        border: 2px solid #D4FA86; /* Green border on hover */
        background-color: transparent; /* Keep background transparent */
        transform: scale(1.015); /* Scales the button to 120% of its original size */
        transition: transform 0.35s ease; /* Smooth transition for scaling */
      
      }
      
      .logo.active {
        background-color: #D4FA86; /* Green background */
        color: #000000; /* Black text */
        border: 2px solid #D4FA86; /* Border matches background */
      }
      
      /* Navigation links styling */
      .nav-links {
        display: inline-flex;
        padding:9px 25px; /* Converted from 1.125px 3.125px */
        justify-content: center;
        height: 100%; 
        align-items: center;
      }
      
      .nav-links a {
        display: inline-flex; /* For flexible button layout */
        padding: 9px  25px; /* Side padding (left & right) is 50px */
        height: 100%; /* Height is 18px */
        width: auto; /* This ensures the button has auto width */
        border-radius: 1.25rem;
        justify-content: center;
        align-items: center;
        color: #E4E4E4; /* Text color */
        font-size: 1.25rem; /* Example font size */
        border: 2px solid transparent; ;
        cursor: pointer;
        cursor: grab;
        transition: background-color 0.3s ease; /* Smooth hover effect */
      }
      
      .nav-links a:hover {
        color: #E4E4E4;
        height: 100%; 
        display: flex; /* For flexible button layout */
        height: auto; /* Height is 18px */
        width: auto; /* This ensures the button has auto width */
        border-radius: 1.25rem;
        justify-content: center;
        align-items: center;
        border: 2px solid #D4FA86; /* Green border on hover */
        background-color: transparent; /* Keep background transparent */
        transform: scale(1.015); /* Scales the button to 120% of its original size */
        transition: transform 0.35s ease; /* Smooth transition for scaling */
      
      }
      
      .nav-links a.active {
        background-color: #D4FA86; /* Green background */
        color: #000000; /* Black text */
        border: 2px solid #D4FA86; /* Border matches background */
      }
      .highlight {
        color: #D4FA86; /* The specific color */
        font-weight: bold; /* Make the link text bold */
      }
      .highlight:hover {
        color: hsl(0, 0%, 100%); /* Change color on hover */
      }
      .Subheading {
        color: #D4FA86; /* The specific color */
        padding-left: 6.25rem;
        padding-top: 4rem;
        /*text-decoration: underline; /* Optional underline for links */
        font-weight: bold; /* Make the link text bold */
      }
      @keyframes bounce {
        0%, 100% {
            transform: translate(-50%, 0); /* Neutral */
        }
        50% {
            transform: translate(-50%, -10px); /* Move up by 10px */
        }
      }
       /* Scroll down arrow */
       .scroll-down-arrow {
        position: absolute;
        bottom: 1.563rem; /* Position the arrow near the bottom */
        left: 50%;
        transform: translateX(-50%);
        font-size: 9rem;
        color: #000000;
        cursor: pointer;
        z-index: 1000; /* Ensure the arrow is in front of other elements */
        animation: bounce 1.5s infinite; /* Simple bounce animation */
      }
      