.nav-bar {
  height: 65px;
  padding: 6px var(--size-space-0) 6px var(--size-space-0);
  position: relative;
  background-color: #1d1d1f80;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav-bar .logo {
  padding: 0px 150px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -5px;
  margin-bottom: -5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav-bar .placeholder-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 20px;
}

.nav-bar .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #e4e4e4;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.nav-bar .frame {
  display: inline-flex;
  min-width: 461px;
  height: 60px;
  align-items: center;
  justify-content: center;
  padding: 0px 150px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -3.5px;
  margin-bottom: -3.5px;
}

.nav-bar .div {
  position: relative;
  align-self: stretch;
  width: 645px;
}

.nav-bar .about-me {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 18px 50px;
  position: absolute;
  top: 0;
  left: -18px;
  border-radius: 20px;
}

.nav-bar .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "SF Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: #e4e4e4;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.nav-bar .projects {
  padding: 18px 50px;
  position: absolute;
  top: 0;
  left: 257px;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav-bar .resume {
  padding: 18px 50px;
  position: absolute;
  top: 0;
  left: 501px;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
