:root {
    --variable-collection-background: rgba(13, 13, 13, 1);
    --variable-collection-nav: rgba(29, 29, 31, 1);
    --variable-collection-active-color: rgba(212, 250, 134, 1);
    --variable-collection-foreground-color: rgba(228, 228, 228, 1);
    --size-space-0: 0px;
  }
